<div class="ui pointing menu">
  <a class="active item" href="">
      <a href="{{ url_for('index') }}">Home</a></button>
  </a>
  <a class="item">
      <a href="{{ url_for('resources') }}">Resources</a></button>
  </a>
  <a class="item">
      <a href="{{ url_for('opportunities') }}">Opportunities</a></button> 
  </a>
  <a class="item">
      <a href="{{ url_for('chats') }}">Chats</a></button> 
  </a>
  <a class="item">
      <a href="{{ url_for('mentorship') }}">Mentorship</a></button> 
  </a>
</div>
</div>

<div class="ui placeholder segment">
<div class="ui three column stackable center aligned grid">
  <div class="ui vertical divider">Or</div>
  <div class="middle aligned row">
      <div class="column">
          <div class="ui icon header">
              <i class="video icon"></i>
              <a href="https://www.youtube.com/@theprogresselement7464/videos" target="_blank">Videos</a>
          </div>
      </div>
      <div class="column">
          <div class="ui icon header">
              <i class="write icon"></i>
              <a href="https://www.notion.so/eisha/Study-Abroad-Circle-Resources-e48d8d33cdce44ea9bd388f286927625" target="_blank">Blogs / Application Guides</a>
          </div>
      </div>
  </div>
</div>
</div>
