{% extends "layout.html" %}
<!-- This code extends the base template layout.html -->


{% block body %}
<!-- This block of code is the content section of the web page -->
  <div style="margin-top: 50px;" class="ui container">
    <h2 class="ui center aligned header" style="margin-bottom: 40px;">Welcome to Study Abroad Circle!</h2>
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <div class="ui two column stackable grid">
      <div class="column">
        <p style="margin-bottom: 20px;">At Study Abroad Circle, our mission is to help Pakistani highschool students achieve their dreams of studying abroad for short and long term study abroad programs on scholarships.</p>
        <p style="margin-bottom: 20px;">We provide resources, opportunities, and mentorship to help students navigate the complex process of studying in a foreign country.</p>
        <p style="margin-bottom: 20px;">Join our community today and start your journey towards a global education!</p>
      </div>
      <div class="column">
        <img src="{{ url_for('static', filename='images/2023-03-04-195535.jpg') }}" alt="image of students studying abroad">
      </div>
    </div>
    <div class="ui center aligned segment" style="border: none;">
      <a class="ui green button" href="/signup" method="GET" style="margin-right: 20px;">Sign up</a>
      <a class="ui blue button" href="/login" method="GET" style="margin-left: 20px;">Log in</a>
    </div>

    <script type="text/javascript">
      (function(d, m){
          var kommunicateSettings = 
              {"appId":"2be0ffe1cd81d18a72b4bd02814f1ac42","popupWidget":true,"automaticChatOpenOnNavigation":true};
          var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
          s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
          var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
          window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
      /* NOTE: Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
  </script>
  
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% endblock %}
